# API Query Example - Customer Churn Prediction

In [1]:
import requests
website = "http://localhost:5000"

### 1. Make a Prediction via HTTP POST API

In [ ]:
url = f'{website}/api/predict_one'
model_inputs = {   
    'age': 45,
    'senior_citizen': 'no',
    'married': 'yes',
    'num_dependents': 1,
    'tenure_months': 32,
    'num_referrals': 2,
    'has_internet_service': 'yes',
    'has_unlimited_data': 'yes', 
    'has_premium_tech_support': 'no',
    'paperless_billing': 'yes',
    'total_monthly_fee': 65, 
    'total_charges_quarter': 2280,
    'avg_long_distance_fee_monthly': 23,
    'avg_gb_download_monthly': 20
}

response = requests.post(url, json = model_inputs)
print(response)  # 200 means OK, 400 means Bad Request
print(response.text)

### 2. Multiple Predictions using one API call

In [3]:
import pandas as pd
file_id = '16or9tsk2n91qGXstOOtlHCIlhkkE_NZo'
url = f'https://drive.google.com/uc?id={file_id}'

data = pd.read_csv(url).drop("Unnamed: 0", axis=1)
data.head()

,age,senior_citizen,married,num_dependents,tenure_months,num_referrals,paperless_billing,has_internet_service,has_unlimited_data,has_premium_tech_support,total_monthly_fee,total_charges_quarter,avg_long_distance_fee_monthly,avg_gb_download_monthly
0,75,1,1,0,3,3,1,1,1,1,83.90,267.40,7.38,11
1,52,0,1,0,63,8,1,1,0,1,84.65,5377.80,12.96,7
2,43,0,1,1,65,3,1,1,1,1,90.45,5957.90,28.46,14
3,32,0,0,0,72,0,1,1,1,0,101.30,7261.25,2.25,16
4,39,0,0,0,56,0,0,1,1,1,45.05,2560.10,0.00,19

In [4]:
records = data.to_dict('records')
records[:2]

[{'age': 75,
  'senior_citizen': 1,
  'married': 1,
  'num_dependents': 0,
  'tenure_months': 3,
  'num_referrals': 3,
  'paperless_billing': 1,
  'has_internet_service': 1,
  'has_unlimited_data': 1,
  'has_premium_tech_support': 1,
  'total_monthly_fee': 83.9,
  'total_charges_quarter': 267.4,
  'avg_long_distance_fee_monthly': 7.38,
  'avg_gb_download_monthly': 11},
 {'age': 52,
  'senior_citizen': 0,
  'married': 1,
  'num_dependents': 0,
  'tenure_months': 63,
  'num_referrals': 8,
  'paperless_billing': 1,
  'has_internet_service': 1,
  'has_unlimited_data': 0,
  'has_premium_tech_support': 1,
  'total_monthly_fee': 84.65,
  'total_charges_quarter': 5377.8,
  'avg_long_distance_fee_monthly': 12.96,
  'avg_gb_download_monthly': 7}]

In [ ]:
url = f'{website}/api/predict'

response = requests.post(url, json = records)
print(response)             # 200 means OK, 400 means Bad Request
print(response.text[:150])  # print first 150 characters of response